.Jogo {
    height: 100vh;
    background: #9BE5E4;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.nuvens {
    width: 200px;
    position: absolute;
    top: 30px;
    animation: mover-direita-para-esquerda infinite 8s linear;
}

.mario {
    position: absolute;
    bottom: 30px;
    height: 100px;
    left: 50px;
}

.mario-pulo {
    animation: mario-pulo 1s;
}

@keyframes mario-pulo {
    from {
        bottom: 30px;
    }
    50% {
        bottom: 150px;
    }
    to {
        bottom: 30px;
    }
}

.morte {
    display: none;
}

.cano {
    position: absolute;
    bottom: 30px;
    width: 50px;
    right: 50px;
    animation: mover-direita-para-esquerda infinite 2s linear;
}

.chao {
    background: limegreen;
    height: 30px;
    width: 100%;
    bottom: 0;
    position: absolute;
}

@keyframes mover-direita-para-esquerda {
    from {
        right: -300px;
    }
    to {
        right: 110%;
    }
}